* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainContainer {
    font-family: 'Karla',sans-serif;
    max-width: 2200px;
    background-color:#f2f2f2;
}
header {
    background-image: linear-gradient(45deg,#195b9d,#42cda2);
    height: auto;
}
.navContainer {
    display: flex;
    color: white;
    flex-direction: row;
}
.logoConatiner {
    display: flex;
}
.menuToggle {
    display: none;
}
.navBar {
    display: contents;
}
.navBar ul li {
    display: inline;
    text-decoration: none;
    color: white;
    padding-left: 40px;
    line-height: 60px;
}
.listingLoginConatiner {
    margin-left: auto;
}
.listingConatiner {
    display: flex;
    flex-direction: row;
}
.listingBtn {
    background-color: #f05d29;
    color: white;
    height: 40px;
    border-radius: 15px;
    padding: 0.5em;
    text-transform: capitalize;
    margin-top: 0.8em;
    width: 80%;
    margin-right: 2em;
}
.loginTxt {
    margin-top: 0.8em;
    width: 150px;
    font-size: 1.4em;
}
.basicDetail {
    display: flex;
}
.requestConatiner {
    margin-left: auto;
}
.sharingandRequest {
    display: flex;
}
.shareBtn {
    display: inline-block;
}
.contentWrapper {
    max-width: 1500px;
    margin: 0.5em 4em 0.5em 4em;
}
.propertyHeader {
    margin: 0.8em 0em 0.8em 0em;
    padding: 0.5em;
    background-color: white;
    display: flex;
}
.propertAmount {
    color: #195b9d;
    font-weight: bold;
    padding-right: 0.5em;
    line-height: 40px;
    border-right: 1px solid black;
}
.propertName {
    text-align: center;
    line-height: 40px;
    margin-left: 0.5em;
}
.requestBtn {
    background-color: #195b9d;
    color: white;
    width: 120px;
    line-height: 35px;
    text-transform: uppercase;
    text-align: center;
    height: 40px;
}
.shareBtn {
    width: 40px;
    height: 40px;
    background-color: #f05d29;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    margin-right: 0.5em;
}
.proprtyDetailsConatiner, .proprtyDescription {
    display: flex;
    flex-direction: row;
}
.atrTitle {
    text-transform: uppercase;
    margin-left: 0.5em;
    font-size: 1.5em;
    color: gray;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}
.proprtyImage {
    background-color: white;
    padding: 0.5em;
    max-width: 700px;
}
.proprtyAttribute {
    width: 100%;
    margin-left: 1em;
    border: 1px solid white;
}
.description {
    width: 100%;
    margin-right: 0.1em;
    margin-top: 0.8em;
    max-width: 700px;
    border: 1px solid white;
}
.attributeLisContainer {
    display: flex;
    background-color: white;
    padding: 0.8em;
    color: #404040;
    margin-top:0.5em; 
    font-size: 1.1em;
}
.proprtyDescription {
    color: #404040;
    line-height: 25px;
    background-color: white;
    padding: 0.8em;
    color: #404040;
    margin-top:0.2em; 
    font-size: 1.1em;
}
.atrName {
    text-transform: capitalize;
    font-size: 1.2em;
    margin-left: 0.5em;
}
.atrCount {
    text-transform: capitalize;
    font-size: 1.2em;
    margin-left: auto;
}
.mapImage {
    max-width: 100%;
    /* padding: 0.2em; */
    background-color: white;
    margin: 1em 0em 0.5em 1em;
}
.mapImage img {
    width: 100%;
    padding: 0.5em;
    max-height: 250px;
}
.similarhomeContainer {
    margin-top: 0.8em;
    border: 1px solid white;
}
.homesConatiner {
    background-color: white;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.homeImage {
    max-width: 300px;
    position: relative;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    margin-left: 0.8em;
    box-shadow: 2px 2px 5px lightgray;
}
.homeImage img{
 max-width: 100%;
 border-radius: 10px 10px 0px 0px;
}
.homePrice {
    background-color: #195b9d;
    color: white;
    height: 35px;
    line-height: 40px;
    font-size: 1em;
    margin-top: -0.3em;
    padding-left: 0.5em;
}
.soldDate {
    position: absolute;
    bottom: 130px;
    color: white;
    margin-left: 0.5em;
    text-transform: capitalize;
    font-size: 0.9em;
}
.homeName {
    font-weight: bold;
    color: #404040;
    margin: 0.2em;
    font-size: 1.2em;
    text-transform: capitalize;
}
.specifications {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    align-content: center;
    height: 40px;
    line-height: 40px;
    justify-content:space-evenly;
}
.sqft {
   align-content: center;
    font-size: 1em;
    margin-top: 0.2em;
}
.enqurityConatiner {
    float: right;
    width: 150px;
}
.enquiryBtn {
    cursor: pointer;
    position: fixed;
    background-color: #f05d29;
    color: white;
    height: 40px;
    line-height: 40px;
    z-index: 9999;
    width: 50%;
    text-transform: uppercase;
    width: 150px;
    margin-right: 1em;
    margin-top: 25%;
    text-align: center;
    font-size: 0.9em;
}
.factParent, .propertyParent {
    width: 100%;
    margin: 0 auto;
    display: block;
}
.propertyParent {
    margin-top: 0.5em;
}
.atrIcon img {
    width: 25px;
    height: 25px;
}
.factContainer {
    display: flex;
    flex-direction: row;
    background-color: white;
}
.propertySlider{
    width: 100px;
    height: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: capitalize;
    display: inline-block;
}
.scrollDiv {
    width: 90%;
}
.propertySlider img {
    max-width: 100px;
    height: 90px;
}
.arrowrightConatiner, .arrowleftConatiner, .leftproprtyCon, .rightproprtyCon {
    display: inline-block;
    width: 50px;
    height: auto;
    line-height: 100px;
    font-size: 1.5em;
    height: 90px;
    text-align: center;
    background: #ADA996;  /* fallback for old browsers */
}
.arrowleftConatiner {
    float: right;
    z-index: 1;
    margin-left: 0.6em;
}
.bgfactSlide {
    color: black;
    opacity: 0.8;
    background: -webkit-linear-gradient(to right, #F2F2F2, #fff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#F2F2F2, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bgpropertySlide {
    color: white;
    background-color: #195b9d;
}
.factItem {
    width: 150px;
    border-right: 1px solid #195b9d;
    text-transform: capitalize;
    font-size: 1.1em;
    color: #195b9d;
}
.internal{
    width: 250px;
    height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: capitalize;
    padding-top: 30px;
    border-right: 2px solid #195b9d;
    display: inline-block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.center{
    float: left; 
    width: 100%;
    margin: 1px;
    overflow: hidden;
    /* margin-top: -50px; */
    white-space: nowrap;
}
.arrowLeft {
    height: 40px;
}
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #adadad;
    color: #fff;
    font-size: 0.6em;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    text-transform: none;
  }
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.factTitle {
    color: #195b9d;
    font-weight: bold;
    font-size: 1.2em;
}
@media screen and (max-width: 600px) {
    .navBar {
        display: none;
    }
    .navContainer {
        display: flex;
        color: white;
        flex-direction: column;
    }
    .responsiveConatiner {
        width: 100%;
    }
    .logoConatiner {
        display: flex;
    }
    .menuToggle {
        display: block;
        font-size: 1em;
        background-color: #f05d29;
        color: white;
        align-content: center;
        height: 30px;
        width: 30px;
        margin-top: 0.5em;
        text-align: center;
        line-height: 30px;
        border-radius: 5px;
        margin-right: 0.5em;
        margin-left: auto;
    }
    .navBar ul li {
        display: block;
        text-decoration: none;
        color: white;
        line-height: 20px;
        padding: 10px;
        text-transform: capitalize;
    }
    .listingLoginConatiner {
        margin-left: 0.5em;
    } 
    .listingBtn {
        width: 50%;
    }
    .loginTxt {
        margin-top: 0.8em;
        margin-bottom: 0.5em;
        font-size: 1em;
        width: auto;
        font-family: 'Karla',sans-serif;
    }
    .listingConatiner {
        display: flex;
        flex-direction: column;
    }
    .propertyHeader {
        padding: 0.5em;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    .requestConatiner {
         justify-content: space-around;
         margin-top: 0.5em;
    }
    .requestBtn {
        background-color: #195b9d;
        color: white;
        width: 120px;
        line-height: 25px;
        text-transform: uppercase;
        text-align: center;
        height: 25px;
        margin-top: 0.2em;
    }
    .shareBtn {
        width: 30px;
        height: 30px;
        background-color: #f05d29;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        color: white;
        font-size: 0.9em;
    }
    .contentWrapper {
        max-width: 1500px;
        margin: 0.2em;
    } 
    .proprtyDetailsConatiner, .proprtyDescription {
        display: flex;
        flex-direction: column;
    } 
    .propertyBanner img {
        max-width: 100%;
        padding: 0.2em;
        background-color: white;
        height: 400px;
    }
    .proprtyAttribute {
        width: 100%;
        margin-left: 0em;
        margin-top: 0.5em;
        border: 1px solid white;
    }
    .mapImage img {
        width: 100%;
    }
    .mapImage {
        margin: 0;
        background-color: white;
    }
    .homesConatiner {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .homeImage {
        margin-top: 1em;
    }
    .enquiryBtn {
        margin-top: 80%;
    }
    .tooltip .tooltiptext {
        display: block;
        width: auto;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .navBar {
        display: none;
    }
    .navContainer {
        display: flex;
        color: white;
        flex-direction: column;
    }
    .responsiveConatiner {
        width: 100%;
    }
    .logoConatiner {
        display: flex;
    }
    .menuToggle {
        display: block;
        font-size: 1em;
        background-color: #f05d29;
        color: white;
        align-content: center;
        height: 30px;
        width: 30px;
        margin-top: 0.5em;
        text-align: center;
        line-height: 30px;
        border-radius: 5px;
        margin-right: 0.5em;
        margin-left: auto;
    }
    .navBar ul li {
        display: block;
        text-decoration: none;
        color: white;
        line-height: 20px;
        padding: 10px;
        text-transform: capitalize;
    }
    .proprtyDetailsConatiner, .proprtyDescription {
        display: flex;
        flex-direction: column;
    }
    .description {
        max-width: 100%;
    }
    .homesConatiner {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 1em;
    }
    .homeImage {
        margin: 1em;
    }
    .proprtyAttribute, .mapImage, .facts {
        margin: 1em 0em 1em 0em;
    }
    .mapImage img {
        width: 100%;
        height: 500px;
    }
    .propertyBanner img {
        width: 100%;
        padding: 0.2em;
        background-color: white;
        height: 550px;
    }
    .proprtyImage {
        background-color: white;
        padding: 0.5em;
        max-width: 100%;
    }
}